{% extends 'base.html.twig' %}

{% block title %}Mes infos{% endblock %}

{% block body %}

{{ form_start(user) }}

                <div class="form-group">
                    {{ form_row(user.timeLapse, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group">
                    {{ form_row(user.startTime, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group">
                    {{ form_row(user.endTime, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group">
                    {{ form_row(user.showPreta, {'attr': {'class': 'form-control'}}) }}
                </div>
            
                <button type="submit" class="btn btn-success">Confirmer</button>

{{ form_end(user) }}
      
{% endblock %}