{% extends 'base.html.twig' %}

{% block title %}Mes prestations
{% endblock %}

{% block body %}
<br>
<br>
	<div class="container">
			{{ form_start(addCategory) }}
			<div class="mb-5 p-5 shadow arrondi bg-light">
			<div class="row mt-3 ml-3 mb-4">
				<h2>Ajoutez une catégorie</h2>
			</div>
			<div class="row col-12">
				<div class="col-6">
					{{ form_row(addCategory.name, {'attr': {'class': 'form-control'}}) }}
				</div>

				<div class="col-6">
					{{ form_row(addCategory.image, {'attr': {'class': 'form-control'}}) }}
					<p>
						<i id="nameFileCategory"></i>
					</p>
				</div>
			</div>

			<div class="col-3 mb-3">
				<button type="submit" class="btn btn-dark">Ajouter</button>
			</div>
			<br>
			{{ form_end(addCategory) }}
		</div>
	</div>

	<div class="container">

		<div class="row ml-3">
			<h2>Vos catégories</h2>
		</div>
		

		<div class="row">

			{% for c in category %}
				<div class="col-lg-3 col-md-4 col-12 mt-5 mb-5">
					<div class="card arrondi shadow bg-white">
						<div class="card-body">
							<h5 class="card-title">{{ c.name }}</h5>
							<img class="card-img-top" src="{{ asset('images/'~c.image) }}" width="150" height="150" alt="Card image cap">
							<br><br>	
							<a href="{{path('category_edit', { 'id': c.id })}}" class="btn btn-warning">Mise à jour</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

	<div class="container">
			{{ form_start(addPresta) }}
			<div class="mb-5 p-5 shadow arrondi bg-light">
			<div class="row mt-3 ml-3 mb-4">
				<h2>Ajoutez une prestation</h2>
			</div>
			<div class="row col-12">
				<div class="col-6">
					{{ form_row(addPresta.name, {'attr': {'class': 'form-control'}}) }}
				</div>
				<div class="col-6">
					{{ form_row(addPresta.category, {'attr': {'class': 'form-control'}}) }}
				</div>
			</div>

			<div class="row col-12">
				<div class="col-6">
					{{ form_row(addPresta.image, {'attr': {'class': 'form-control'}}) }}
					<p>
						<i id="nameFile"></i>
					</p>
				</div>

				<div class="col-6">
					{{ form_row(addPresta.agendaColor, {'attr': {'class': 'form-control'}}) }}
				</div>

			</div>

			<div class="row col-12">

				<div class="col-6">
					{{ form_row(addPresta.prestaTime, {'attr': {'class': 'form-control'}}) }}
				</div>

				<div class="col-6">
				<br>
					<div class="btn btn-outline btn-primary mb-3" id="addBreakTimeBtn">Ajouter un temps de pause</div>
				</div>

				<div id="breaktime" style="display:none;" class="col-6">
					{{ form_row(addPresta.breakTime, {'attr': {'class': 'form-control'}}) }}
				</div>

				<div id="prestaTime2" style="display:none;" class="col-6">
					{{ form_row(addPresta.prestaTime2, {'attr': {'class': 'form-control'}}) }}
				</div>

			</div>

			<div class="col-3 mb-3">
				<button type="submit" class="btn btn-dark">Ajouter</button>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row ml-3">
			<h2>Vos prestations</h2>
		</div>

		<div class="row">

			{% for p in presta %}
				<div class="col-lg-3 col-md-4 col-12 mt-5 mb-5">
					<div class="card arrondi shadow bg-white">
						<div class="card-body">
							<h5 class="card-title ">{{ p.name }}</h5>
							<img class="card-img-top" src="{{ asset('images/'~p.image) }}" width="150" height="150" alt="Card image cap">
							<p class="card-text">
								{{ p.prestaTime }} min</p>
							{% if p.category %}
								<p class="card-text">
									{{ p.category.name }}</p>
							{% endif %}
							<a href="{{path('prestation_edit', { 'id': p.id })}}" class="btn btn-warning">Mise à jour</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

	{{ form_end(addPresta) }}

{% endblock %}

{% block javascripts %}

	<script>
		
		window.onload = () => {
			document.querySelector('.button-left').addEventListener('click', function() {
			  document.querySelector('.sidebar').classList.toggle('fliph');
			})
		}

		document.getElementById('addBreakTimeBtn').addEventListener('click', function () {
			document.getElementById('breaktime').style = "display:block;";
			document.getElementById('prestaTime2').style = "display:block;";
			document.getElementById('addBreakTimeBtn').style = "display:none;";
			})

			document.getElementById('add_prestation_image').addEventListener('input', function (evt) {

			document.getElementById('nameFile').innerHTML = this.value;

			var label = document.getElementsByClassName('custom-file-label');
			for (var i = 0; i < label.length; i++) {
			label[i].style.border = '2px solid green';
			}

			});

			document.getElementById('add_category_image').addEventListener('input', function (evt) {

			document.getElementById('nameFileCategory').innerHTML = this.value;

			var label = document.getElementsByClassName('custom-file-label');
			for (var i = 0; i < label.length; i++) {
			label[i].style.border = '2px solid green';
			}

		});
	</script>

{% endblock javascripts %}
