{% extends 'base.html.twig' %}

{% block title %}Mes prestations
{% endblock %}

{% block body %}

	{{ form_start(addCategory) }}
	<div class="row mt-5 ml-1 mb-3">
		<h2>Ajoutez vos nouvelles catégories</h2>
	</div>

	<div class="form-group">
		{{ form_row(addCategory.name, {'attr': {'class': 'form-control'}}) }}
	</div>

	<div class="form-group">
		{{ form_row(addCategory.image, {'attr': {'class': 'form-control'}}) }}
	</div>

	<div class="mb-3">
		<button type="submit" class="btn btn-success">Ajouter</button>
	</div>

	<div class="row mt-5 ml-1">
		<h2>Vos catégories</h2>
	</div>

	<div class="row">

		{% for c in category %}
			<div class="col-lg-3 col-md-4 col-12 mt-5 mb-5">
				<div class="card">
					<img class="card-img-top" src="{{ c.image }}" alt="Card image cap">
					<div class="card-body">
						Catégorie:<h5 class="card-title">{{ c.name }}</h5>
						<a href="{{path('category_edit', { 'id': c.id })}}" class="btn btn-warning">Mise à jour</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

	{{ form_end(addCategory) }}

	{{ form_start(addPresta) }}
	<div class="row mt-5 ml-1 mb-3">
		<h2>Ajoutez vos nouvelles prestations</h2>
	</div>

	<div class="form-group">
		{{ form_row(addPresta.name, {'attr': {'class': 'form-control'}}) }}
	</div>

	<div class="form-group">
		{{ form_row(addPresta.image, {'attr': {'class': 'form-control'}}) }}
	</div>

	<div class="form-group">
		{{ form_row(addPresta.prestaTime, {'attr': {'class': 'form-control'}}) }}
	</div>

	<div class="form-group">
		{{ form_row(addPresta.category, {'attr': {'class': 'form-control'}}) }}
	</div>

	<div class="form-group">
		{{ form_row(addPresta.agendaColor, {'attr': {'class': 'form-control'}}) }}
	</div>

	<div class="btn btn-outline btn-primary mt-5 mb-5" id="addBreakTimeBtn">Ajouter un temps de pause</div>

	<div id="breaktime" style="display:none;" class="form-group">
		{{ form_row(addPresta.breakTime, {'attr': {'class': 'form-control'}}) }}
	</div>

	<div id="prestaTime2" style="display:none;" class="form-group">
		{{ form_row(addPresta.prestaTime2, {'attr': {'class': 'form-control'}}) }}
	</div>

	<br>

	<div class="mb-3">
		<button type="submit" class="btn btn-success">Ajouter</button>
	</div>

	<div class="row mt-5 ml-1">
		<h2>Vos prestations</h2>
	</div>

	<div class="row">

		{% for p in presta %}
			<div class="col-lg-3 col-md-4 col-12 mt-5 mb-5">
				<div class="card">
					<img class="card-img-top" src="{{ p.image }}" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">{{ p.name }}</h5>
						<p class="card-text">Durée de la prestation en minutes:
							{{ p.prestaTime }}</p>
						{% if p.category %}
							<p class="card-text">Catégorie:
								{{ p.category.name }}</p>
						{% endif %}
						<a href="{{path('prestation_edit', { 'id': p.id })}}" class="btn btn-warning">Mise à jour</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

	{{ form_end(addPresta) }}

{% endblock %}

{% block javascripts %}

	<script>
		document.getElementById('addBreakTimeBtn').addEventListener('click', function () {
			document.getElementById('breaktime').style = "display:block;";
			document.getElementById('prestaTime2').style = "display:block;";
			document.getElementById('addBreakTimeBtn').style = "display:none;";
		})
	</script>

{% endblock javascripts %}
